body, input, select, textarea {
	font-family: Arial, sans-serif;
	font-size: 12pt;
	margin: 0px;
}
body>h1 {
	margin: 0px;
	padding: 8px 50px 8px 8px;
	font-size: 18pt;
	background-color: #666;
	color: #EEE;
	position: relative;
}
body>h1.noback {
	padding: 8px;
}
body>h1 a {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	border: solid 1px #CCC;
	background-color: #EEE;
	background-image: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(1, #EEE));
	-moz-box-shadow: 1px 2px 2px #000;
	-webkit-box-shadow: 1px 2px 2px #000;
	box-shadow: 1px 2px 2px #000;
	padding: 4px 8px 4px 8px;
	font-size: 10pt;
	text-decoration: none;
	color: #333;
	position: relative;
	white-space: nowrap;
	position: absolute;
	top: 8px;
	right: 5px;
}
dl {
	margin: 10px 5px 5px 5px;
}
dt {
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 10px;
	border-bottom: solid 3px #DDD;
	font-size: 16pt;
}
dd p {
	margin: 0em 0em 0.75em 0em;
}
dd p:last-child {
	margin: 0em;
}
dd {
	padding: 5px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
	font-size: 12pt;
}
dd a {
	-moz-border-radius: 1em;
	-webkit-border-radius: 1em;
    display: inline-block;
	border-radius: 1em;
	border: solid 1px #CCC;
	background-color: #EEE;
	background-image: -moz-linear-gradient(center top , #FDFDFD, #EEEEEE) repeat scroll 0 0 #EEEEEE;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FDFDFD), color-stop(1, #EEE));
	-moz-box-shadow: 1px 2px 2px #000;
	-webkit-box-shadow: 1px 2px 2px #000;
	box-shadow: 1px 2px 2px #000;
	padding: 4px 8px 4px 8px;
	font-size: 10pt;
	text-decoration: none;
	color: #333;
	position: relative;
	white-space: nowrap;
	top: 2px;
}
label {
	font-size: 12pt;
}
div {
	font-size: 12pt;
}
.page h1 {
	font-size: 20pt;
	margin: 0em 0em 0.5em 0em;
}
.page p {
	margin: 0.5em 1em 0.5em 0em;
	padding: 0em 0em 0em 0.5em;
	border-left: 0.5em solid #DDD;
	font-size: 12pt;
}
img.logo {
	float: right;
	cursor: pointer;
}
h6 {
    clear: left;
    color: #666;
    font-size: 10pt;
    padding: 5px 15px;
    background-color: #eee;
    margin: 30px 0px 0px 0px;
}
h6 a {
    color: #666;
    font-size: 10pt;
}
h6 a:hover {
    color: #666;
}
h6 a:visited {
    color: #666;
}
body>p {
    padding: 5px 15px;
}
