body {
    margin: 0px;
    font-family: sans-serif;
}
div, label, p, input {
    font-family: sans-serif;
    font-size: 12pt;
    padding: 0px;
    margin: 0px;
}
h1 {
    margin: 0px;
    padding: 5px;
    font-size: 16pt;
    background-color: #339;
    color: #eee;
    background-image: -moz-linear-gradient(center top, #55d 0%, #44a 50%, #339 50%, #003 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #55d), color-stop(0.5, #44a), color-stop(0.5, #339), color-stop(1, #003));
}
abbr {
    float: right;
    font-weight: normal;
    font-size: 8pt;
    margin-top: -3px;
    color: #ccf;
}

div.box {
    padding: 5px;
    max-width: 600px;
}

div.form {
}
label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
input[type='text'], input[type='password'] {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}
input[type='button'] {
    display: block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
}

div.message {
    margin: 0px;
    padding: 10px;
    background-color: #ccf;
    color: #333;
}
div.message p {
    max-width: 580px;
}

div.list {
}
div.list>a {
    display: block;
    margin-bottom: 5px;
    background-color: #eee;
    text-decoration: none;
    color: #000;
}
span.count {
    display: inline-block;
    font-size: 16pt;
    font-weight: bold;
    width: 50px;
    xheight: 30px;
    background-color: #339;
    color: #fff;
    padding: 5px;
    text-align: right;
    margin-right: 5px;
}
span.name {
    font-size: 14pt;
}

div.property {
    font-size: 8pt;
    font-weight: bold;
    background-color: #66c;
    color: #fff;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
div.value {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ddd;
    font-size: 14pt;
}

h6 {
    clear: left;
    padding: 5px 15px;
    background-color: #eee;
    margin: 30px 0px 0px 0px;
}
h6 a {
    color: #666;
    font-size: 10pt;
    display: block;
}
h6 a:hover {
    color: #666;
}
h6 a:visited {
    color: #666;
}

