/***** Page *****/
body {
	margin: 0px;
	font-family: Arial, sans-serif;
	background-color: #000;
	-moz-user-select: none;
	-webkit-user-select: none;
}
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
ul, ol {
	padding: 0px;
	margin: 0px;
}
li {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: black;
}

/***** Toolbar *****/
ul.toolbar {
	
}
ul.toolbar>li {
	float: left;
	width: 33.33%;
}
ul.toolbar>li#reset {
	padding-right: 6px;
}
ul.toolbar>li#add {
	padding-left: 6px;
}
ul.toolbar>li>a {
	display: inline-block;
	width: 100%;

	height: 50px;
	text-align: center;
	padding-top: 16px;
	background-color: #EEE;
	background-image: -moz-linear-gradient(-90deg, #EEE 0%, #CCC 90%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #EEE), color-stop(0.9, #CCC));
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-weight: bold;
	text-shadow: 1px 1px 0px #FFF;
	cursor: pointer;
}

/***** Content *****/
ul.content {
	clear: left;
	padding-top: 6px;
}
ul.content>li {
}
ul.content>li>ol {
	position: relative;
	height: 56px;
	background-image: -moz-linear-gradient(-90deg, #333 0%, #000 90%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333), color-stop(0.9, #000));
}
ul.content>li>ol>li {
	position: absolute;
	height: 50px;
	text-align: center;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid 1px #000;
	cursor: pointer;
}
ul.content>li>ol>li.countcolumn {
	left: 0px;
	width: 50px;
	height: 50px;
	background-color: #44E;
}
ul.content>li>ol>li.namecolumn {
	left: 56px;
	border: none;
	padding-left: 10px;
}
ul.content>li>ol>li.incpackcolumn {
	right: 56px;
	width: 50px;
	background-color: #BB3;
}
ul.content>li>ol>li.inccolumn {
	right: 0px;
	width: 50px;
	background-color: #3B3;
}
ul.content a {
	display: block;
	width: 100%;
	padding-top: 16px;
	height: 50px;
	color: #EEE;
	font-weight: bold;
	text-shadow: 1px 1px 0px #000;
}

/***** Dialog *****/
div.dialog {
	background-color: #FFF;
	padding: 20px;
	text-align: center;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
div.dialog label {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
}
div.dialog input {
	display: block;	
	width: 90%;
	margin: auto;
	margin-bottom: 6px;
	height: 50px;
	padding-left: 6px;
	padding-right: 6px;
	font-family: Arial, sans-serif;
	font-size: 12pt;
}

/***** Footer *****/
h6 {
	color: #333;
	font-size: 12pt;
	margin: 0px;
	padding-right: 6px;
	text-align: right;
}
h6 a {
	color: #333;
	font-size: 12pt;
	text-decoration: underline;
}
