<!DOCTYPE html>
<html>
<head>
<title>Templates</title>
<meta name="viewport" content="user-scalable=yes, width=device-width" />
<link rel="stylesheet" href="../style.css" type="text/css" />
</head>
<body>
	<h1>Templates <a href="../">Back</a></h1>
	<dl>
		<dt>Background Cover</dt>
		<dd>Have a background image that covers the whole page <a href="background.html">background.html</a></dd>
		<dt>Rounded Corners</dt>
		<dd>Rounded corners around a group of list items <a href="rounded.html">rounded.html</a></dd>
		<dt>Tiles</dt>
		<dd>Tile based layout with floating boxes <a href="tiles.html">tiles.html</a></dd>
	</dl>
</body>
</html>
