<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Templates</title>
<meta name="viewport" content="user-scalable=yes, width=device-width" />
<link rel="stylesheet" href="../style.css" type="text/css" />
</head>
<body>
	<h1>Templates <a href="../">Back</a></h1>
	<dl>
		<dt>Rounded Corners</dt>
		<dd>A layout and design with a heavy use of border-radius <a href="rounded.html">rounded.html</a></dd>
		<dt>Square Boxes</dt>
		<dd>A layout and design of square boxes with a gradient and text with shadow <a href="square.html">square.html</a></dd>
	</dl>
</body>
</html>
