body {
	margin: 0px;
	font-family: sans-serif;
}
h1 {
	margin: 0px;
	font-size: 14pt;
	font-weight: normal;
	background-color: #666600;
	color: #FFFFFF;
	padding: 6px;
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
}
div.menu {
	margin: 5px 5px 0px 5px;
}
table.menu {
	padding: 0px;
	margin: 0px;
	border-collapse: collapse;
	width: 100%;
}
table.menu td {
	margin: 0px;
	padding: 6px;
	font-size: 12pt;
	background-color: #666;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DDD), color-stop(1, #CCC));
	background-image: -moz-linear-gradient(-90deg, #DDD 0%, #CCC 100%);
	text-align: center;
	border-right: solid 1px #EEE;
}
table.menu tr td:first-child {
	-moz-border-radius: 8px 0px 0px 8px;
	border-radius: 8px 0px 0px 8px;
}
table.menu tr td:last-child {
	-moz-border-radius: 0px 8px 8px 0px;
	border-radius: 0px 8px 8px 0px;
	border-right: none;
}
ul.list {
	clear: left;
	padding: 0px;
	margin: 5px;
}
ul.list li {
	list-style: none;
	margin: 0px;
	padding: 6px;
	font-size: 12pt;
	background-color: #DDD;
	border-bottom: solid 1px #FFF;
}
ul.list li:first-child {
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}
ul.list li:last-child {
	-moz-border-radius: 0px 0px 8px 8px;
	border-radius: 0px 0px 8px 8px;
	border-bottom: none;
}
h6 {
	margin: 0px;
	font-size: 14pt;
	font-weight: normal;
	background-color: #666600;
	color: #FFFFFF;
	padding: 6px;
	-moz-border-radius: 8px 8px 0px 0px;
	border-radius: 8px 8px 0px 0px;
}

li#begin {
	-webkit-transform: translateX(-100px);
	-moz-transform: translateX(-100px);
}
li#end {
	-webkit-transition: -webkit-transform 1s linear;
	-webkit-transform: translateX(0px);
	-moz-transition: -moz-transform 1s linear;
	-moz-transform: translateX(0px);
}
