body {
	font-family: Arial, sans-serif;
}
dl {
}
dt {
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 0px 10px;
	border-bottom: solid 3px #DDD;
	font-size: 16pt;
}
dd {
	padding: 5px 10px 10px 10px;
	margin: 0px 0px 10px 0px;
	font-size: 12pt;
}
dd a {
	border-radius: 8px;
	-moz-border-radius: 8px;
	border: solid 1px #CCC;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #DDD), color-stop(0.3, #FFF), color-stop(1, #DDD));
	background-image: -moz-linear-gradient(90deg, #CCC 0%, #FFF 50%, #DDD 100%);
	padding: 5px;
	font-size: 10pt;
	text-decoration: none;
	color: #000;
	
}
label {
	font-size: 10pt;
}
div {
	font-size: 12pt;
}
.page h1 {
	font-size: 20pt;
	margin: 0em 0em 0.5em 0em;
}
.page p {
	margin: 0.5em 1em 0.5em 0em;
	padding: 0em 0em 0em 0.5em;
	border-left: 0.5em solid #DDD;
	font-size: 12pt;
}
.square {
	margin: 0px;
	width: 600px;
	font-family: Arial, sans-serif;
	background-color: #000;
}
.square a {
	float: left;
	width: 255px;
	height: 255px;
	padding: 20px;
	background-color: #DD9;
	background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FFF), color-stop(0.1, #BBF), color-stop(0.5, #BBF), color-stop(1, #DDF));
	background-image: -moz-linear-gradient(-45deg, #FFF 0%, #BBF 10%, #BBF 50%, #DDF 100%);
	margin: 5px 5px 0px 0px;
	text-decoration: none;
	position: relative;
}
.square a h2 {
	margin: 0px 0px 10px 0px;
	font-size: 40px;
	color: #000;
}
.square a p {
	margin: 0px;
	font-size: 25px;
	color: #666;
}
.square a h6 {
	margin: 0px;
	font-size: 24pt;
	color: white;
	text-shadow: 4px 4px 4px #008;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
.square a:nth-child(odd) {
	margin: 10px 10px 0px 0px;
}
.square a:nth-child(even) {
	margin: 10px 0px 0px 0px;
}
