<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>Template Square</title>
<meta name="viewport" content="user-scalable=yes, width=600" />
<link rel="stylesheet" href="square.css" type="text/css" />
<script type="text/javascript">
</script>
</head>
<body class="square">
	<a href="../viewports/">
		<h2>Viewports</h2>
		<p>How to use the viewport to show your content at a readable scale</p>
		<h6>1</h6>
	</a>
	<a href="../design/">
		<h2>Design</h2>
		<p>What elements to use and how to format them with css styles</p>
		<h6>2</h6>
	</a>
	<a href="../forms/">
		<h2>Forms</h2>
		<p>Let the user input information in form fields</p>
		<h6>3</h6>
	</a>
	<a href="../events/">
		<h2>Events</h2>
		<p>Catch some basic events from the window and user interacting with the screen</p>
		<h6>4</h6>
	</a>
	<a href="../animations/">
		<h2>Animations</h2>
		<p>Change the web page without reloading, also showing transforms in 2D space</p>
		<h6>5</h6>
	</a>
	<a href="../data/">
		<h2>Data</h2>
		<p>Make the app usable offline, store data in your web pages and fetch data over the wire</p>
		<h6>6</h6>
	</a>
	<a href="../apis/">
		<h2>More APIs</h2>
		<p>Internal APIs such as geolocation and web site APIs</p>
		<h6>7</h6>
	</a>
	<a href="../server/">
		<h2>Server</h2>
		<p>Some of the demos above, enhanced with server side scripting in php</p>
		<h6>8</h6>
	</a>
</body>
</html>
